.testimonial-slider .slick-prev:before,
.testimonial-slider .slick-next:before {
  display: none;
}

.testimonial-slider .slick-slide {
  margin: 0;
}

.slick-slide {
padding: 0 5px; 
}
                
.slick-list {
margin: 0 ;
}
                
                
.slick-prev:before, 
.slick-next:before {
                  color: #156BCA ;
}
                
.slick-slide {
                  margin: 0 ;
}
                